.table {
    font: 19px Arial;
    box-sizing: border-box;
    width: 100%;
}

.table_container {
    max-width: 751px;
    box-sizing: border-box;
}

.table th {
    border: 1px solid #CCC;
    background-color: #3498DB;
    color: #FFF;
    text-align: left;
    padding: 12px 10px 10px;
    font-weight: bold;
}

.table td {
    vertical-align: middle;
    border: 1px solid #CCC;
    padding: 13px 10px 9.3px;
}

.table tr:nth-child(odd) {
    background-color: #EEE;
}

.col-1 {
    width: 20.4%;
}

.col-2 {
    width: 20.15%;
}

.col-3 {
    width: 36.1%;
}