.table {
    font: 18px Arial;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.table th {
    border: 1px solid #CCC;
    background-color: #3498DB;
    color: #FFF;
    text-align: left;
    vertical-align: middle;
    padding: 9px 0 9px 8px;
    font-weight: bold;
}

.table td {
    border: 1px solid #CCC;
    padding: 9px 10px 9px;
}

.table tr:nth-child(odd) {
    background-color: #EEE;
}