.table {
    font: 18px Arial;
    box-sizing: border-box;
    border-spacing: 1px;
    background-color: #CDCDCD;
    width: 857px;
}

th {
    padding: 16px 53px 11px 14px;
}

td {
    padding: 17px 53px 12px 15px;
}

.white_row {
    background-color: white;
}

.gray_row {
    background-color: #EEEEEE;
}

.head {
    color: white;
    text-align: left;
    background-color: #3498DB;
}