.all_elements {
    background-color: #FEEED6;
    padding: 5px 10px 0;
    box-sizing: border-box;
}

.main_header {
    padding-bottom: 3px;
    font: 28px Arial;
    color: #6A6867;
}

.small_header {
    padding-top: 10px;

    font: 15px Arial;
    font-weight: normal;
    color: #6A6867;

}

.accentuated_text {
    font: 15px Arial;
    font-weight: bolder;
    color: #378DB2;

}

.content {
    padding-top: 7px;
    padding-bottom: 3px;
    text-align: justify;
    text-indent: 19px;
    font: 15px Arial;
    font-weight: normal;
    color: #6A6867;
}

p.accentuated_text {
    padding-top: 15px;
}
