.page {
    background-color: #FEEED6;
    background-size: 100%;
    padding: 5px;
}

.content {
    font-family: Arial, serif;
    font-weight: normal;
    font-size: small;
    color: #8E9393
}

.accentuatedText {
    color: #378DB2;
    font-family: Calibri, sans-serif;
    font-weight: bolder;
}

.contentParagraph {
    text-indent: 1.5em;
    margin-bottom: 8px;
}

h2 {
    font-family: Bahnschrift, serif;
    font-weight: normal;
    color: #676565;
    margin: 5px;
}

p {
    margin: 5px;
}