.page {
    background-color: antiquewhite;
    background-size: 100%;
    padding: 5px;
}

.content {
    font-family: Arial, serif;
    font-weight: normal;
    font-size: small;
    color: rgba(0, 0, 0, 0.5)
}

.accentuatedText {
    color: rgb(55, 136, 171);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
}

.contentParagraph {
    text-indent: 1.5em;
    margin-bottom: 8px;
}

h2 {
    font-family: Bahnschrift, serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    margin: 5px;
}

p {
    margin: 5px;
}