.container {
    margin: 20px;
}

p {
    margin-bottom: 15px;
}

.item {
    display: flex;
    width: 450px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.item :first-of-type {
    margin-left: auto;
}

.item :nth-last-child(-n+4) {
    color: #378DB2;
    margin-right: 8px;
}

input::placeholder {
    color: #DC3545;
}

