<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Phone Book Vue</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="node_modules/v-mask/dist/v-mask.js"></script>

    <script defer src="script.js"></script>
</head>
<body>
<div v-cloak id="app" class="container">
    <h4 class="text-center">Телефонная книга</h4>
    <form id="form" class="needs-validation" :class="{'was-validated' : isFormValidated}" novalidate @submit.prevent>
        <div class="row g-2 justify-content-end">
            <div class="col-sm-4">
                <label for="surname" class="form-label">Фамилия</label>
                <input v-model="newSurname"
                       @input="checkNewSurname"
                       :class="{'is-invalid' : isNewSurnameInvalid}"
                       type="text" class="form-control" required pattern="^[а-яА-ЯёЁa-zA-Z- ]*$">
                <div class="invalid-feedback">
                    Укажите фамилию, используйте только буквы и дефис.
                </div>
            </div>
            <div class="col-sm-4">
                <label for="name" class="form-label">Имя</label>
                <input v-model="newName"
                       @input="checkNewName"
                       :class="{'is-invalid' : isNewNameInvalid}"
                       type="text" class="form-control" required pattern="^[а-яА-ЯёЁa-zA-Z- ]*$">
                <div class="invalid-feedback">
                    Укажите имя, используйте только буквы и дефис.
                </div>
            </div>
            <div class="col-sm-4">
                <label for="phone" class="form-label">Номер телефона</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="prepend">+7</span>
                    <input @input="isNewPhoneDuplicate = false"
                           v-model="newPhone"
                           v-mask="'###-###-####'"
                           :class="{'is-invalid':isNewPhoneDuplicate}"
                           type="tel" class="form-control" required placeholder="777-777-7777"
                           pattern="\d{3}-\d{3}-\d{4}">
                    <div v-if="isNewPhoneDuplicate" class="invalid-feedback">
                        <p class="flex-grow-1">Номер уже в списке.</p>
                    </div>
                    <div v-else class="invalid-feedback">
                        Укажите номер телефона, используйте только цифры.<br>
                        Указывать последние 10 цифр, без префикса "+7".
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex mt-3 mt-sm-2">
                <button @click="addRecord" class="flex-grow-1 btn btn-outline-primary
                 text-nowrap" type="submit">Добавить запись
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover mt-5">
            <thead>
            <tr class="text-center">
                <th scope="col">
                    <input v-model="isAllChecked"
                           @change="checkAllCheckboxes"
                           type="checkbox" class="form-check-input">
                </th>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Удаление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(record, index) in records" :key="record.id" class="tbody_row align-middle text-center">
                <td><input v-model="record.isChecked" type="checkbox" class="form-check-input"></td>
                <td>{{ index + 1 }}</td>
                <td>
                    <div class="text-break text-wrap">{{ record.surname }}</div>
                </td>
                <td>
                    <div class="text-break text-wrap">{{ record.name }}</div>
                </td>
                <td>{{ record.phone }}</td>
                <td class="justify-content-center">
                    <button type="button" class="btn btn-outline-danger text-nowrap"
                            @click="showRemovingDialog(record)">Удалить запись
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" tabindex="-1" id="modal" ref="modal_window" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 v-if="isSomethingChecked" class="modal-title">Удаление</h5>
                    <h5 v-else class="modal-title">Удалить запись?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div ref="modal_body" class="modal-body text-start">
                    <div v-if="isSomethingChecked"><b>Удалить отмеченные записи?</b></div>
                    <div v-else>
                        <p><b>Фамилия: </b>{{ recordToDelete.surname }}</p>
                        <p><b>Имя: </b>{{ recordToDelete.name }}</p>
                        <p><b>Номер телефона: </b>{{ recordToDelete.phone }}</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button @click="remove" type="button" class="btn btn-outline-danger"
                            data-bs-dismiss="modal">Да
                    </button>
                    <button type="button"
                            class="btn btn-outline-secondary" data-bs-dismiss="modal">Нет
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>