body {
    font: 14px Arial;
}

.form_content {
    box-sizing: border-box;
    color: #676565;
    background-color: #FEEED6;
    max-width: 736px;
    padding: 17px 18px 14px 17px;
    overflow: hidden;
}

.main_header {
    font-size: 30px;
    color: #676565;
    margin-bottom: 3px;
    padding-left: 14px;
}

.text {
    padding-bottom: 12px;
}

.label {
    font-weight: bold;
}

.input {
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    border: none;
    vertical-align: middle;
    padding-left: 12px;
    margin-top: 7px;
    margin-bottom: 17px;
}

.big_field {
    height: 112px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 14px;
    font-size: 14px;
    resize: vertical;
}

.submit {
    padding: 6px 10px;
    text-align: center;
    float: right;
    cursor: pointer;
    border: none;
    background-color: #378DB2;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    width: 149px;
    height: 32px;
}

.submit:hover {
    background-color: #2A6075FF;
}